#spacer {
    height: 200px;
    width: 10px;
}
.textaligncenter {
    font-size: 25px;
    color: white;
    text-align: center;
}
#background {
    background-image: url("http://puu.sh/r2FGZ/1a64996fae.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto ;
    max-width: 100% ;
    height: auto ;
}
.box {
    width: 300px;
    height: 200px;
    background-color: black;
    margin: auto;   
}
#spacer2 {
    height: 12px;
    width: 10px;
}
#background2 {
    background-image: url("http://puu.sh/r2JtF/759ff9d24d.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto ;
    max-width: 100% ;
    height: auto ;
}
#backgroundmain {
    background-image: url("http://i.imgur.com/VQaJKNO.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto ;
    max-width: 100% ;
    height: auto ;
}
.button {
    width: 200px;
    margin: auto;
    -webkit-border-radius: 27;
    -moz-border-radius: 27;
    border-radius: 27px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
}

.button:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #5c5c5c);
    background-image: -moz-linear-gradient(top, #000000, #5c5c5c);
    background-image: -ms-linear-gradient(top, #000000, #5c5c5c);
    background-image: -o-linear-gradient(top, #000000, #5c5c5c);
    background-image: linear-gradient(to bottom, #000000, #5c5c5c);
    text-decoration: none;
}
