#spacer {
    height: 200px;
    width: 10px;
}
.textaligncenter {
    font-size: 25px;
    color: white;
    text-align: center;
}
#background {
    background-image: url("http://puu.sh/r2FGZ/1a64996fae.jpg")
}
.box {
    width: 1250px;
    height: 150px;
    background-color: black;
    opacity: 50%;
}
#spacer2 {
    height: 12px;
    width: 10px;
}
#background2 {
    background-image: url("http://puu.sh/r2HDr/285dbf8e71.jpg")
}
